@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  color: black;
  background-color: white;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-size: 47px;
  line-height: 55px;
}

.btn {
  padding-left: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: black;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.page-header {
}

/* main-logo styles here */
.main-logo svg {
  margin: 20px 60px;
}

.main-logo[href="index.html"]:hover,
.footer-logo[href="index.html"]:hover {
  opacity: 0.6;
}

.main-logo[href="index.html"]:active,
.footer-logo[href="index.html"]:active {
  opacity: 0.3;
}

.user-nav {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0 60px;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: 'Opensans', 'Tahoma', sans-serif;

  list-style: none;
  background-color: #f7e296;
}

  .user-nav a {
    color: black;
  }

  .user-nav a:hover,
  .user-nav a:focus {
    opacity: 0.6;
  }

  .user-nav a:active {
    opacity: 0.3;
  }

  .site-search-bar {
    width: 50%;

    margin-right: 20px;
    padding-left: 40px;

    background-color: #f7e296;
  }

/* user-panel styles */

.user-sign-in {
  margin-right: auto;
  padding-left: 25px;
}

.user-logged {
  margin-right: auto;
}

  .user-name {
    margin-right: 20px;
    padding-left: 25px;
  }

  .user-logged .user-exit {
    color: rgba(0, 0, 0, 0.3);
  }

.compare-items {
  margin-right: 20px;
  padding-left: 20px;
}

.cart {
  margin-left: 23px;
  padding-left: 20px;
}

/* search-form styles here */

  .search-request {
    font: inherit;
    color: black;

    opacity: 0.3;
    background: transparent;
    border: none;
  }

  .search-request:hover {
    opacity: 0.6;
  }

  .search-request:focus {
    opacity: 1;

    border-bottom: 2px solid black;
    outline: none;
  }

  .search-form button {
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;

    border: 1px solid black;
    background-color: #f7e296;
  }

  .search-form button:hover {
    color: rgb(255, 255, 255);

    background-color: black;
  }

  .search-form button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: black;
  }

  .search-request:focus ~ button,
  .search-form button:focus {
    position: static;

    width: auto;
    height: auto;
    margin: 0;

    clip: auto;
  }

/* main-nav styles here */
.main-nav {
  padding: 30px 60px 40px 60px;

  background-color: #f7e296;
}

  .site-nav {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .catalog-nav {
    margin-right: 20px;
    width: 50%;
  }

  .site-nav-item:nth-child(2) {
    margin-right: 35px;
  }

  .site-nav-item:nth-child(3) {
    margin-right: 35px;
  }

  .site-nav-item:last-child {
    margin-left: auto;
    margin-right: -4px;
  }

    .site-nav-item > a {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: black;
    }

    .site-nav-item > a:hover,
    .site-nav-item > a:focus {
          opacity: 0.6;
        }

    .site-nav-item > a:active {
          opacity: 0.3;
        }

    .nav-item-groups {
      /* uncommend after aplying JS to open this menu
      display: flex;
      */

      margin-top: 28px;
      margin-bottom: 32px;
      padding: 0;

      list-style: none;
    }

      .nav-item-groups > li {
        margin-right: 40px;
      }

      .nav-item-list {
        padding: 0;

        list-style: none;
      }

      .nav-item {
        margin-right: 20px;
      }

        .nav-item a {
          font-weight: 300;
          font-size: 15px;
          line-height: 36px;
          font-family: 'Opensans', 'Tahoma', sans-serif;
          color: black;
        }

        .nav-item a:hover,
        .nav-item a:focus {
          opacity: 0.6;
        }

        .nav-item a:active {
          opacity: 0.3;
        }

/* main-slider styles here */

  .slider-item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs th {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs td {
    font-weight: 300;
    font-size: 36px;
  }

.gadget-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 55px;

  list-style: none;
}

  .gadget-list li {
    flex-basis: 160px;

    margin-bottom: 25px;
  }

  .gadget-card {
    display: flex;
    flex-direction: column-reverse;

    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
  }

  .gadget-card:active {
    color: rgba(0, 0, 0, 0.3);
  }

    .gadget-card-link {

    }

    .gadget-card-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 35px;

      width: 160px;
      height: 160px;

      background-color: rgba(240, 197, 46, 0.5);
    }

    .gadget-card:hover .gadget-card-logo {
      background-color: rgba(240, 197, 46, 1);
    }

    .gadget-card:active .gadget-logo {
      opacity: 0.3;
    }

.features {
  background-color: #e5e5e5;
}

.features-slider {
  display: flex;
  flex-direction: row-reverse;
}

  .features-slider ul {
    flex-grow: 2;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .features-slider li {
    margin-left: 117px;
    margin-bottom: 80px;

    min-height: 195px;
  }

  .features-slider li:first-child {
    background: url('../img/delivery.svg') 100% no-repeat;
  }

  .features-slider li:nth-child(2) {
    display: none; /* prep-s to build js slider */
    background: url('../img/warranty.svg') 100% no-repeat;
  }

  .features-slider li:last-child {
    display: none; /* prep-s to build js slider */
    background: url('../img/credit.svg') 100% no-repeat;
  }

    .features-slider h3 {
      margin: 0;
      margin-bottom: 23px;
    }

    .features-slider p {
      width: 445px;

      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      font-family: 'Opensans', 'Tahoma', sans-serif;
      color: #464646;
    }

.features-slider-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 280px;
}

  .features-slider-controls .btn {
    margin-bottom: 24px;
  }

  .btn.feature-slide-active,
  .btn.feature-slide-active:hover,
  .btn.feature-slide-active:active {
    color: #f7e184;

    background-color: black;
  }

.partners ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 94px 0 59px;

  list-style: none;
}

  .partners li {
    margin-bottom: 30px;
  }

/* styles for color-overlay for partners will be here */

.about-us {
  display: flex;
  flex-direction: column;

  padding: 50px 0 60px;
}

.about-us-main {
  flex-basis: 475px;
}

  .about-us h2 {
    margin: 0;
    margin-bottom: 43px;
  }

  .about-us p {
    margin-top: 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .about-us > p {
    margin-bottom: 33px;
  }

  .about-us-delivery {
    margin-bottom: 57px;
  }

    .about-us-delivery p {
      margin-bottom: 60px;
    }

    .about-us-delivery ul {
      margin: 0;
      margin-bottom: 20px;

      list-style: none;
    }

    .about-us-delivery a {
      font-size: 16px;
      line-height: 40px;
      color: rgb(0, 0, 0);
    }

    .about-us-delivery a:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    .about-us-delivery a:active {
      color: rgba(0, 0, 0, 0.3);
    }

  .about-us .btn {
    align-self: flex-start;

    margin-top: auto;
    margin-bottom: 20px;
  }

.about-us-contacts {
  flex-basis: 560px;
}

  .contacts-map {
    display: block;
    font-size: 0;

    margin-bottom: 75px;
  }

/* Footer styles */

.page-footer {
  padding-top: 60px;

  background-color: #464646;
}

  .footer-user {
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
  }

  .footer-user-navigation {
    display: flex;

    width: 50%;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .footer-user-navigation a {
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }

  .footer-user-navigation a:hover {
    color: rgb(255, 255, 255);
  }

  .footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
  }

.footer-conditions {
  display: flex;
  justify-content: space-between;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Opensans', 'Tahoma', sans-serif;
  color: rgb(255, 255, 255);
}

  .footer-conditions p {
    margin: 0;
  }

  .footer-conditions a {
    font-weight: 800;
    font-family: 'Gilroy', 'Tahoma', sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  .footer-conditions a:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-conditions a:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .footer-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding-left: 0;

    width: 50%;

    list-style: none;
  }

    .footer-navigation li {
      margin: 0 19px;
    }

.footer-social ul {
  list-style: none;
}

  .social-button:hover {
    opacity: 0.6;
  }

  .social-button:active {
    opacity: 0.1;
  }

.developer:hover {
  opacity: 0.6;
}

.developer:active {
  opacity: 0.3;
}

/* modal windows styles */

.modal-feedback {
  font-size: 18px;
  line-height: 24px;
}

  .feedback-form input {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;

    background-color: #f2f2f2;
  }

  .feedback-form input:hover,
  .feedback-form textarea:hover {
    background-color: #eaeaea;
  }

  .feedback-form input:focus,
  .feedback-form textarea:focus {
    background-color: #f7e296;
  }

  /* not working properly
  .feedback-form input:invalid,
  .feedback-form textarea:invalid {
    background-color: #f6dada;
  }
  */

  .feedback-form input::placeholder,
  .feedback-form textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
  }

  .feedback-form textarea {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;

    background-color: #f2f2f2;
  }

.modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* catalog styles */

.breadcrumbs {
  font-size: 14px;
  line-height: 36px;
  font-family: 'Opensans', 'Tahoma', sans-serif;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

  .breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
  }

  .breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
  }

.filters h3 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.filter-form {
  background-color: #efefef;
}

  .filter-form fieldset {
    border: 0;
  }

    .filter-form legend {
      font-size: 18px;
    }

  .filter-color label,
  .filter-bluetooth label {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
  }

.sorting-bar {
  background-color: #ebebeb;
}

  .sorting-bar-title {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .sorting-bar ul {
    list-style: none;
  }

  .sorting-bar a {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: rgba(0, 0, 0, 0.3);
  }

  .sorting-bar a:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .sorting-bar a:active {
    color: rgb(0, 0, 0);
  }

  .sorting-current a,
  .sorting-current a:hover {
    color: rgb(0, 0, 0);
  }

  .triangle {
    opacity: 0.2;
  }

  .triangle:hover {
    opacity: 0.4;
  }

  .triangle:active {
    opacity: 1;
  }


  .triangle-current,
  .triangle-current:hover {
    opacity: 1;
  }

.catalog-list {
  list-style: none;
}

  .catalog-item-title a {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  .item-price > span {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #464646;
  }

  .compare-btn {
    font-size: 13px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: rgba(0, 0, 0, 0.5);
  }

  .compare-btn:hover {
    color: rgb(0, 0, 0);
  }

  .compare-btn:active {
    color: rgba(0, 0, 0, 0.2);
  }

.paginator {
  list-style: none;

  background-color: rgba(0, 0, 0, 0.08);
}

  .paginator-item a {
    color: rgba(0, 0, 0, 0.3);
  }

  .paginator-item a:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .paginator-item a:active {
    color: rgb(0, 0, 0);
  }

  .paginator-current a {
    color: rgb(0, 0, 0);
  }

  .paginator-previous a,
  .paginator-next a {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  .paginator-previous a:hover,
  .paginator-next a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(217,217,217);
  }

  .paginator-previous a:active,
  .paginator-next a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(217,217,217);
  }
