@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-size: 47px;
  line-height: 55px;
}

.btn {
  padding-left: 3px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: black;

  background-color: white;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

/* main-logo styles here */

.user-nav {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: 'Opensans', 'Tahoma', sans-serif;

  list-style: none;
  background-color: #f7e296;
}

  .user-nav a {
    color: black;
  }

  .user-nav a:hover,
  .user-nav a:focus {
    opacity: 0.6;
  }

  .user-nav a:active {
    opacity: 0.3;
  }

  .site-search-bar {
    background-color: #f7e296;
  }

/* search-form styles here */

  .search-request {
    font: inherit;
    color: black;
    
    opacity: 0.3;
    background: transparent;
    border: none;
  }

  .search-request:hover {
    opacity: 0.6;
  }

  .search-request:focus {
    opacity: 1;
    
    border-bottom: 2px solid black;
    outline: none;
  }

  .search-form button {
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;

    border: 1px solid black;
    background-color: #f7e296;
  }

  .search-form button:hover {
    color: rgb(255, 255, 255);
    
    background-color: black;
  }

  .search-form button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: black;
  }

  .search-request:focus ~ button,
  .search-form button:focus {
    position: static;

    width: auto;
    height: auto;
    margin: 0;

    clip: auto;
  }

/* main-nav styles here */

  .site-nav {
    list-style: none;
    background-color: #f7e296;
  }

    .site-nav-item > a {
      font-size: 18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: black;
    }

    .site-nav-item > a:hover,
    .site-nav-item > a:focus {
          opacity: 0.6;
        }

    .site-nav-item > a:active {
          opacity: 0.3;
        }

    .catalog-item-groups {
      list-style: none;
    }

      .catalog-item-list {
        list-style: none;
      }

        .catalog-item a {
          font-weight: 300;
          font-size: 15px;
          line-height: 36px;
          font-family: 'Opensans', 'Tahoma', sans-serif;
          color: black;
        }

        .catalog-item a:hover,
        .catalog-item a:focus {
          opacity: 0.6;
        }

        .catalog-item a:active {
          opacity: 0.3;
        }

/* main-slider styles here */

  .slider-item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs th {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs td {
    font-weight: 300;
    font-size: 36px;
  }
