@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-family: 'Gilroy', 'Tahoma', sans-serif;
  color: black;
  background-color: white;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  font-size: 47px;
  line-height: 55px;
}

.btn {
  position: relative;
  z-index: 1;

  padding: 0;
  padding-left: 3px;

  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: black;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}

.btn::before {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -4px;
  z-index: -5;

  height: 8px;

  background: #f0c52e;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.main-nav {
  position: relative;

  padding:  21px 60px 40px 60px;

  background-color: #f7e296;
}

.main-nav::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: 40px;

  background-color: white;
}

.main-logo {
  position: relative;
  z-index: 2;

  display: block;

  margin-bottom: 20px;

  font-size: 0;
}

.main-logo[href="index.html"]:hover,
.footer-logo[href="index.html"]:hover {
  opacity: 0.6;
}

.main-logo[href="index.html"]:active,
.footer-logo[href="index.html"]:active {
  opacity: 0.3;
}

.user-nav {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: 'Opensans', 'Tahoma', sans-serif;

  list-style: none;
  background-color: #f7e296;
}

  .user-nav a {
    color: black;
  }

  .user-nav a:hover,
  .user-nav a:focus {
    opacity: 0.6;
  }

  .user-nav a:active {
    opacity: 0.3;
  }

  .site-search-bar {
    position: relative;

    width: 50%;

    margin-right: 20px;
    padding-left: 40px;

    background-color: #f7e296;
  }

    .site-search-bar::before {
      content: '';

      position: absolute;
      top: 12px;
      left: 0;

      width: 16px;
      height: 16px;

      background: 0 0 url('../img/search.svg') no-repeat;
    }

/* user-panel styles */

.user-login {
  position: relative;

  margin-right: auto;
  padding-left: 25px;
}

.user-logged {
  position: relative;

  margin: 0 auto;
}

  .user-login-link::before,
  .user-nav .user-name::before {
    content: '';

    position: absolute;
    top: 12px;
    left: 0;

    width: 13px;
    height: 12px;

    background: 0 0 url('../img/user.svg') no-repeat;
  }

  .user-name {
    margin-right: 20px;
    padding-left: 25px;
  }

  .user-logged .user-exit {
    color: rgba(0, 0, 0, 0.3);
  }

.compare-items {
  position: relative;

  margin-right: 20px;
  padding-left: 20px;
}

  .user-nav .compare-link::before {
    content: '';

    position: absolute;
    top: 14px;
    left: 0;

    width: 10px;
    height: 10px;

    background: 0 0 url('../img/compare.svg') no-repeat;
  }


.cart {
  position: relative;

  margin-left: 23px;
  padding-left: 20px;
}

  .user-nav .cart-link::before {
    content: '';

    position: absolute;
    top: 12px;
    left: 0;

    width: 12px;
    height: 12px;

    background: 0 0 url('../img/cart.svg') no-repeat;
  }

/* search-form styles here */

  .search-request {
    font: inherit;
    color: black;

    opacity: 0.3;
    background: transparent;
    border: none;
  }

  .search-request:hover {
    opacity: 0.6;
  }

  .search-request:focus {
    opacity: 1;

    border-bottom: 2px solid black;
    outline: none;
  }

  .search-form button {
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;

    border: 1px solid black;
    background-color: #f7e296;
  }

  .search-form button:hover {
    color: rgb(255, 255, 255);

    background-color: black;
  }

  .search-form button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: black;
  }

  .search-request:focus ~ button,
  .search-form button:focus {
    position: static;

    width: auto;
    height: auto;
    margin: 0;

    clip: auto;
  }

  .site-nav {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .catalog-nav {
    margin-right: 20px;
    width: 50%;
  }

    .catalog-nav > a::after {
      content: '';

      position: absolute;
      top: 3px;
      right: -26px;

      width: 16px;
      height: 16px;

      opacity: 0.3;
      background: 0 0 url('../img/plus.svg') no-repeat;
    }

  .site-nav-item:nth-child(2) {
    margin-right: 35px;
  }

  .site-nav-item:nth-child(3) {
    margin-right: 35px;
  }

  .site-nav-item:last-child {
    margin-left: auto;
    margin-right: -4px;
  }

    .site-nav-item > a {
      position: relative;

      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: black;
    }

    .site-nav-item > a:hover,
    .site-nav-item > a:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    .site-nav-item > a:active {
      color: rgba(0, 0, 0, 0.3);
    }

    .nav-item-groups {
      position: absolute;
      left: 0;
      z-index: 100;

      /*
      display: flex;
      */
      flex-wrap: wrap;

      padding: 21px 60px 35px;
      width: 1160px;

      background-color: #f7e296;
      list-style: none;
    }

      .nav-item-groups > li {
        width: 180px;
        margin-right: 20px;
      }

      .nav-item-groups > li:first-child {
        width: 220px;
      }

      .nav-item-list {
        padding: 0;

        list-style: none;
      }

      .nav-item {
        margin-right: 20px;
      }

        .nav-item a {
          font-weight: 300;
          font-size: 15px;
          line-height: 36px;
          letter-spacing: 0.01em;
          font-family: 'Opensans', 'Tahoma', sans-serif;
          color: black;
        }

        .nav-item a:hover,
        .nav-item a:focus {
          opacity: 0.6;
        }

        .nav-item a:active {
          opacity: 0.3;
        }

/* main-slider styles here */

  .slider-item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs th {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .item-specs td {
    font-weight: 300;
    font-size: 36px;
  }

.gadget-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 55px;

  list-style: none;
}

  .gadget-list li {
    flex-basis: 160px;

    margin-bottom: 25px;
  }

  .gadget-card {
    display: flex;
    flex-direction: column-reverse;

    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
  }

  .gadget-card:active {
    color: rgba(0, 0, 0, 0.3);
  }

    .gadget-card-link {

    }

    .gadget-card-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 35px;

      width: 160px;
      height: 160px;

      background-color: rgba(240, 197, 46, 0.5);
    }

    .gadget-card:hover .gadget-card-logo {
      background-color: rgba(240, 197, 46, 1);
    }

    .gadget-card:active .gadget-logo {
      opacity: 0.3;
    }

.features {
  padding-bottom: 70px;

  background-image: linear-gradient(#fff 100px, #e5e5e5 100px);
}

.features-slider {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
}

  .features-slider ul {
    flex-grow: 2;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .features-slider li {
    padding: 74px 0 77px 117px;
    min-height: 195px;
  }

  .features-slider li:first-child {
    background: url('../img/delivery.svg') 91% 55% no-repeat;
  }

  .features-slider li:nth-child(2) {
    display: none; /* prep-s to build js slider */
    background: url('../img/warranty.svg')  94% no-repeat;
  }

  .features-slider li:last-child {
    display: none; /* prep-s to build js slider */
    background: url('../img/credit.svg') 90%  47% no-repeat;
  }

    .features-slider h3 {
      margin: 0;
      margin-bottom: 30px;

      line-height: 48px;
      letter-spacing: 0.02em;
    }

    .features-slider p {
      margin-bottom: 0;
      width: 445px;

      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      font-family: 'Opensans', 'Tahoma', sans-serif;
      color: #464646;
    }

.features-slider-controls {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 80px;
  padding-bottom: 47px;
  width: 280px;
}

.features-slider-controls::after {
  content: '';

  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -4px;
  width: 7px;

  background: black;
}

  .features-slider-controls .btn {
    margin-bottom: 24px;

    width: 160px;
  }

  .btn.feature-slide-active,
  .btn.feature-slide-active:hover,
  .btn.feature-slide-active:active {
    padding-left: 25px;
    width: 280px;

    text-align: left;
    color: #f7e184;
    background-color: black;
    cursor: default;
  }

  .btn.feature-slide-active::before {
    display: none;

  }

.partners ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 94px 0 59px;

  list-style: none;
}

  .partners li {
    margin-bottom: 30px;
  }

/* styles for color-overlay for partners will be here */

.about-us {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 50px 0 60px;
}

.about-us::before {
  content: '';

  position: absolute;
  top: 0px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: black;
}

.about-us-main {
  flex-basis: 475px;
}

  .about-us h2 {
    margin: 0;
    margin-bottom: 43px;
  }

  .about-us p {
    margin-top: 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;
  }

  .about-us > p {
    margin-bottom: 33px;
  }

  .about-us-delivery {
    margin-bottom: 57px;
  }

    .about-us-delivery p {
      margin-bottom: 60px;
    }

    .about-us-delivery ul {
      margin: 0;
      margin-bottom: 20px;

      list-style: none;
    }

    .about-us-delivery a {
      font-size: 16px;
      line-height: 40px;
      color: rgb(0, 0, 0);
    }

    .about-us-delivery a:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    .about-us-delivery a:active {
      color: rgba(0, 0, 0, 0.3);
    }

  .about-us .btn {
    align-self: flex-start;

    margin-top: auto;
    margin-bottom: 20px;

    width: 260px;
  }

.about-us-contacts {
  flex-basis: 560px;
}

  .contacts-map {
    display: block;
    font-size: 0;

    margin-bottom: 75px;
  }

/* Footer styles */

.page-footer {
  padding-top: 60px;
  padding-bottom: 66px;

  background-color: #464646;
}

  .footer-user {
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
  }

  .footer-user-nav {
    position: relative;

    display: flex;

    width: 50%;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .footer-user-nav a {
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }

    .footer-user-nav .user-login-link::before,
    .footer-user-nav .user-name::before {
    content: '';

    position: absolute;
    top: 12px;
    left: 0;

    width: 13px;
    height: 12px;

    background: 0 0 url('../img/user-footer.svg') no-repeat;
  }

    .footer-user-nav .user-login-link:hover::before,
    .footer-user-nav .user-name:hover::before {
      opacity: 0.6;
    }

  .footer-user-nav .user-exit {
      color: rgba(255,255,255, 0.3);
  }

    .footer-user-nav .compare-link::before {
      content: '';

      position: absolute;
      top: 14px;
      left: 0;

      width: 10px;
      height: 10px;

      background: 0 0 url('../img/compare-footer.svg') no-repeat;
    }

    .footer-user-nav .compare-link:hover::before {
      opacity: 0.6;
    }

    .footer-user-nav .cart-link::before {
      content: '';

      position: absolute;
      top: 12px;
      left: 0;

      width: 12px;
      height: 12px;

      background: 0 0 url('../img/cart-footer.svg') no-repeat;
    }

    .footer-user-nav .cart-link:hover::before {
      opacity: 0.6;
    }

  .footer-user-nav a:hover {
    color: rgb(255, 255, 255);
  }

  .footer-user-nav a:active {
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
  }

.footer-conditions {
  display: flex;
  justify-content: space-between;

  margin-bottom: 65px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Opensans', 'Tahoma', sans-serif;
  color: rgb(255, 255, 255);
}

  .footer-conditions p {
    width: 260px;

    margin: 0;
  }

  .footer-conditions p:last-child {
    text-align: right;
  }

  .footer-conditions a {
    font-weight: 800;
    font-family: 'Gilroy', 'Tahoma', sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  .footer-conditions a:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-conditions a:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 auto;
    padding-left: 0;

    width: 50%;

    list-style: none;
  }

    .footer-nav li {
      margin: 0 19px;
    }

.footer-social {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.footer-social::before {
  position: absolute;

  content: '';
  top: 50%;
  margin-top: -4px;
  display: block;

  width: 80px;
  height: 7px;

  background: #ffc600;
}

  .footer-social ul {
    display: flex;

    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  .footer-social li {
    margin: 0 14px;
  }

  .footer-social li:first-child {
    padding-left: 26px;
  }

    .social-button:hover {
      opacity: 0.6;
    }

    .social-button:active {
      opacity: 0.1;
    }

  .developer:hover {
    opacity: 0.6;
  }

  .developer:active {
    opacity: 0.3;
  }

/* modal windows styles */

.modal-feedback {
  font-size: 18px;
  line-height: 24px;
}

  .feedback-form input {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;

    background-color: #f2f2f2;
  }

  .feedback-form input:hover,
  .feedback-form textarea:hover {
    background-color: #eaeaea;
  }

  .feedback-form input:focus,
  .feedback-form textarea:focus {
    background-color: #f7e296;
  }

  /* not working properly
  .feedback-form input:invalid,
  .feedback-form textarea:invalid {
    background-color: #f6dada;
  }
  */

  .feedback-form input::placeholder,
  .feedback-form textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
  }

  .feedback-form textarea {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: #464646;

    background-color: #f2f2f2;
  }

.modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* catalog styles */

.page-header {
  padding: 40px 80px 45px;
}

  .main-catalog h1 {
    margin: 0;
    margin-bottom: 26px;
  }

  .breadcrumbs {
    display: flex;

    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 36px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    color: rgba(0, 0, 0, 0.3);

    list-style: none;
  }

    .breadcrumbs li {
      margin-right: 20px;
    }

      .breadcrumbs a {
        padding-right: 20px;

        color: rgba(0, 0, 0, 0.3);
      }

      .breadcrumbs a:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      .breadcrumbs a:active {
        color: rgba(0, 0, 0, 0.1);
      }

.catalog {
  display: flex;
}

.filter-wrapper {
  margin-left: auto;
  padding: 0 68px 0 60px;

  width: 328px;
}

.catalog-filters {
  position: relative;

  flex-grow: 1;

  background-color: #efefef;
}

.catalog-filters::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 70px;

  opacity: 0.08;
  background: black;
}
.catalog-filters h3 {
  margin: 0;
  padding: 25px 0;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-form {
  padding-top: 69px;
}

  .filter-form fieldset {
    margin: 0;
    padding: 0;

    border: 0;
  }

    .filter-form legend {
      margin-bottom: 25px;
      padding-top: 10px;

      width: 100%;

      font-size: 18px;
      line-height: 24px;
      border-top: 2px solid black;
    }

.range-filter {
  margin-bottom: 25px;
}

  .range-controls {
    position: relative;

    margin-bottom: 10px;
  }

    .range-controls .scale {
      height: 2px;

      background-color: #dbdbdb;
    }

      .range-controls .bar {
        height: 2px;
        width: 120px;

        background-color: #91c92f;
      }

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: -6px;

  width: 20px;
  height: 20px;

  border: 8px solid white;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
}

.range-controls .toggle:active {
  top: -10px;

  margin-left: -1px;
  width: 22px;
  height: 22px;

  border: 9px solid white;
}

.range-controls .toggle-min {

}

.range-controls .toggle-max {
  left: 120px;
}

.price-controls {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.2);
}

  .price-controls .min-price {
    margin-right: 10px;
  }

  .price-controls .max-price {
    margin-left: 15px;
  }


  .price-controls input {
    padding: 0;
    width: 55px;

    font-size: inherit;
    line-height: inherit;
    color: rgba(0, 0, 0, 0.2);

    border: none;
    background: transparent;
  }

.filter-form .btn {
  width: 100%;
}

  .filter-form input:not(:disabled) + label:hover::before {
    opacity: 0.6;
  }

  .filter-form input:not(:disabled) + label:active::before {
    opacity: 1;
  }

  .filter-form input:disabled + label {
    opacity: 0.25;
    cursor: default;
  }

  .filter-color {
  }

    .filter-color-list {
      margin: 0;
      margin-bottom: 40px;
      padding: 0;

      list-style: none;
    }

      .filter-color label,
      .filter-bluetooth label {
        position: relative;

        padding-left: 40px;

        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.01em;
        font-family: 'Opensans', 'Tahoma', sans-serif;
        cursor: pointer;
      }

      .filter-color label::before ,
      .filter-color input:checked + label:active::before {
        position: absolute;

        content: '';
        top: 50%;
        left: 0;


        margin-top: -12px;
        width: 23px;
        height: 23px;

        border: 2px solid black;
        border-radius: 3px;
        background-image: none;
      }

      .filter-color input:checked + label::before,
      .filter-color label:active::before {
        width: 27px;
        height: 24px;

        border: none;
        background: url('../img/checkbox-on.svg') no-repeat;
      }

    .filter-bluetooth-list {
      margin: 0;
      margin-bottom: 40px;
      padding: 0;

      list-style: none;
    }

    .filter-bluetooth-list input + label::before,
    .filter-bluetooth-list input:checked + label:active::before {
      position: absolute;

      content: '';
      top: 50%;
      left: 0;

      margin-top: -13px;
      padding: 4px;
      width: 25px;
      height: 25px;

      background-color: transparent;
      border: 4px solid black;
      border-radius: 50%;
    }

    .filter-bluetooth-list input:checked + label::before,
    .filter-bluetooth-list input + label:active::before {
      background-color: black;
      background-clip: content-box;
    }

.catalog-items {
  position: relative;

  flex-grow: 1;
}

.catalog-items::before {
  position: absolute;

  content: '';
  width: 100%;
  height: 70px;

  opacity: 0.08;
  background: black;
  z-index: -1;
}

.catalog-items-wrapper {
  margin-right: auto;
  padding-left: 72px;
  padding-bottom: 77px;

  width: 832px;
}

.sorting-bar {
  display: flex;
  align-items: center;
}

  .sorting-bar-title {
    padding-right: 20px;

    width: 200px;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .sorting-bar ul {
    display: flex;
    flex-grow: 1;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .sorting-bar li:not(:last-child) {
    margin-right: 30px;
  }

  .sorting-bar li:last-child {
    display: flex;

    margin-left: auto;
  }

  .sorting-bar a {
    display: inline-block;

    padding: 25px 0;

    font-size: 14px;
    line-height: 20px;
    font-family: 'Opensans', 'Tahoma', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
  }

  .sorting-bar a:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .sorting-bar a:active {
    color: rgb(0, 0, 0);
  }

  .sorting-current a,
  .sorting-current a:hover {
    color: rgb(0, 0, 0);
  }

.sort-triangles {
  display: flex;
  align-items: center;
}

  .sort-triangles .triangle {
    padding: 0;
    width: 0;

    border: 10px solid transparent;
    border-top-width: 0;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-color: black;
    opacity: 0.2;
  }

  .sort-triangles .triangle-current,
  .sort-triangles .triangle-current:hover {
    margin-left: 20px;

    transform: rotate(180deg);
    opacity: 1;
  }

  .triangle:hover {
    opacity: 0.4;
  }

  .triangle:active {
    opacity: 1;
  }

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 69px 0 35px;

  list-style: none;
}

  .catalog-item {
    display: flex;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 70px;

    width: 360px;
  }

    .catalog-item-image {
      order: -2;

      margin: 0;
      margin-bottom: 33px;

      width: 360px;
      height: 380px;
    }

      .new-item-mark {
        display: none;
      }

    .catalog-item-title {
      margin: 0;

      width: 260px;
    }

      .catalog-item-title a {
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .01em;
        color: black;
      }

  .item-price {
    width: 100px;

    text-align: right;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #464646;
  }

  .item-add {
    display: none;
  }

    .compare-btn {
      font-size: 13px;
      line-height: 36px;
      font-family: 'Opensans', 'Tahoma', sans-serif;
      color: rgba(0, 0, 0, 0.5);
    }

    .compare-btn:hover {
      color: rgb(0, 0, 0);
    }

    .compare-btn:active {
      color: rgba(0, 0, 0, 0.2);
    }

.paginator {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: rgba(0, 0, 0, 0.08);
}

    .paginator-item a {
      display: block;

      padding: 25px 10px;

      min-width: 35px;

      text-align: center;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.3);
    }

    .paginator-item a:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    .paginator-item a:active {
      color: rgb(0, 0, 0);
    }

  .paginator-current a {
    color: rgb(0, 0, 0);
  }

  .paginator-previous {
    margin-right: auto;
    margin-left: 0;
  }

  .paginator-next {
    margin-right: 0;
    margin-left: auto;
  }

  .paginator-previous a,
  .paginator-next a {
    padding: 25px 30px;

    width: 140px;

    letter-spacing: 0.2em;
    color: rgb(0, 0, 0);
  }

  .paginator-previous a:hover,
  .paginator-next a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(217,217,217);
  }

  .paginator-previous a:active,
  .paginator-next a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(217,217,217);
  }
